/* Website Desktop version */
@media screen and (min-width: 800px) {

/* Holds all the Contents */
.Container{

<<<<<<< HEAD
    background-color: black;
    height:100vh;
=======
    background-color: azure;
    margin: 0px;
>>>>>>> 6d49229925bddcd312226b7369c986d35e7300e1
}
/*  Navigation bar */
.Navbar{
    background-color: beige;
<<<<<<< HEAD
    flex: column;
=======
    
>>>>>>> 6d49229925bddcd312226b7369c986d35e7300e1
}

.Navbar p{
    font-size: 30px;
    color: black;
    padding: 1rem 1rem 0rem 0rem;
    text-align: center;
}

.Navbar a{
    color: black;
    text-decoration: none;
    font-size: 50px;
    margin: 1rem 1rem 1rem 1rem;
    padding: 10px;
    align: center;
}
/* top, right, bottom, left */

.Navbar a:hover{

    color:blue ;

}

/* Purpose of the page */

.purpose{
    font-size: 20px;
    background-color: azure;
    color: black;
    margin: 20px;
    height:300px;
    
    
}

.purpose p{
padding: 10px 20px 10px 20px;

}

<<<<<<< HEAD
=======
.purpose a{

}

/* Showcase of Projects */
.projects{
    color: white;
    padding: 40px;
}

>>>>>>> 6d49229925bddcd312226b7369c986d35e7300e1

/* Footer */

.Footer{   
    margin: 0px;
    background-color: black;
    color: white;
    padding: 1rem;
}

}



/* Moblie Version */

@media screen and (max-width: 800px) {

 /* Holds all the Contents */
.Container{

    background-color: azure;

}
/*  Navigation bar */
.Navbar{
    background-color: beige;
    flex: column;
}

.Navbar p{
    font-size: 30px;
    color: black;
    padding: 1rem 1rem 0rem 0rem;
    text-align: center;
}

.Navbar a{
    color: black;
    text-decoration: none;
    font-size: 50px;
    margin: 1rem 1rem 1rem 1rem;
    padding: 10px;
    align: center;
}
/* top, right, bottom, left */

.Navbar a:hover{

    color:blue ;

}

/* Purpose of the page */

.purpose{
    font-size: 20px;
    background-color: azure;
    color: black;
    margin: 20px;
    
    
<<<<<<< HEAD
}

.purpose p{
padding: 10px 20px 10px 20px;

}




/* Footer */

.Footer{   
    margin: 0px;
    background-color: black;
    color: white;
}

}
=======
    .Footer{   
        margin: 0px;
        background-color: black;
        color: white;
    }
    
    }
>>>>>>> 6d49229925bddcd312226b7369c986d35e7300e1
